name: Game Deals Bot

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python check_games.py

      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          # Eksik dosyaları oluştur ve takibe al
          touch sent_games.txt bot_logs.txt
          git add sent_games.txt bot_logs.txt
          
          # Değişiklik varsa commit yap, yoksa sessizce bitir
          git diff --staged --quiet || (git commit -m "Update logs and games [$(date '+%d-%m-%Y %H:%M')]" && git push)
